<div id="gallery">
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
</div>
				
<div id="gallery">
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
</div>
<div id="gallery">
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
		<figure class="col-md-3 col-sm-3 col-xs-12">
			<a href="#">
			<img class="img" src="http://placehold.it/350x250" alt="" />	
			<figcaption>
					<h2>Legend</h2>
					<p>Hello</p>
			</figcaption>
			</a>
		</figure>
</div>					
