<section class="warranty">
  <!-- <div class="wrap">
    <div class="container-fluid">
      <div class="warranty__container">
        <h2 class="warranty__heading">WARRANTY REGISTRATION</h2>
        <div class="warranty__content UpYourAlley-content-markup">
          <p>All customers must register their warranty within 1 week of purchase. Please be prepared to produce a copy of the Original Sales Receipt which clearly shows the Date of Purchase.</p>
          <p> ALL Product MUST BE REGISTERED to be covered by the warranty. Please register the product below. PLEASE NOTE ALL INFORMATION MUST BE SUPPLIED TO COMPLETE THE REGISTRATION PROCESS.</p>
        </div> -->
        <div class="warranty__form-wrap clearfix">
        <script type="text/javascript" src="https://form.jotform.us/jsform/70785720287161"></script>
          <!-- <div class="warranty__form-error hide clear">You have to fill in all fields correctly to complete you warranty registration</div>
 -->
        </div>
        
      <!-- </div>
    </div>
  </div> -->
</section>