<div class="container">
	<div class="container">
			<h2>Title</h2>
	</div>

	<div class="block">
		<div class="row">
			<div class="span4">
				<img class="img-left" src="https://i.ytimg.com/vi/CACAmH4r1fw/maxresdefault.jpg" width="50%" />
				<div class="content-heading"><h3>Heading</h3></div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="span4">
				<img class="img-right" src="https://i.ytimg.com/vi/CACAmH4r1fw/maxresdefault.jpg" width="50%" />
				<div class="content-heading"><h3>Heading</h3></div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="span4">
				<img class="img-left" src="https://i.ytimg.com/vi/CACAmH4r1fw/maxresdefault.jpg" width="50%" />
				<div class="content-heading"><h3>Heading</h3></div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
			</div>
		</div>	
		<br/>
		<div class="row">
			<div class="span4">
				<img class="img-right" src="https://i.ytimg.com/vi/CACAmH4r1fw/maxresdefault.jpg" width="50%" />
				<div class="content-heading"><h3>Heading</h3></div>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
			</div>
		</div>
	</div>
</div>		

	

